[Unit]
Description=Tolga's Flatpak Automatic Update Trigger V4
Documentation=man:flatpak(1)
Wants=network-online.target
After=network-online.target suspend.target

[Timer]
OnBootSec=15s
# OnCalendar=*-*-* 00,06,12,18:00:00
# OnUnitActiveSec=6h
OnUnitActiveSec=3s
Persistent=true

[Install]
WantedBy=timers.target suspend.target
